# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

# Sensitive environment variables
.env

# Modules + built files
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
client/images/1.png
client/images/2.png
client/images/3.png
client/images/BLUECAR.png
client/images/BLUERACECAR.png
client/images/Comp 3.gif
client/images/DEAD.png
client/images/DICKEEEE.gif
client/images/DICKS.gif
client/images/FIRESKULL.gif
client/images/HEART.png
client/images/HOWTFPLAY.gif
client/images/HOWTFTFPL.gif
client/images/New Piskel.gif
client/images/PINKCAR.png
client/images/RACECARPINK.png
client/images/RETRORACE_2.mp4
client/images/RETRORACE_5.gif
client/images/RETRORACE_FINAL_2.mp4
client/images/RETRORACE.mp4
client/images/RETRORACEMENU_2 copy.mp4
client/images/RETRORACEMENU_2.mp4
client/images/richpres.png
client/images/WASSUP.gif
client/images/wassupumadeit.gif
client/images/welc.gif
client/images/welllllllllllll.gif
client/images/wwwwwwwwwwwwww.gif
